POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
JWT_SECRET=""
APP_DOMAIN="app.domain.com"
TRAEFIK_NETWORK="traefik-public"
TRAEFIK_ENTRYPOINTS="websecure"
TRAEFIK_CERTRESOLVER="letsencrypt"
TRAEFIK_ACME_EMAIL="admin@domain.com"
COOKIE_SECURE="true"
